/* Desktop media styles start */
@media (max-width: 1280px) {
  /* Library section styles start */
  .library__layout {
    min-width: 980px;
  }

  .books-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .book__banner {
    width: 155px;
    height: 225px;
  }

  .book__figure {
    max-width: 155px;
  }

  .favorites__books-description {
    margin-right: 40px;
  }

  .favorites__books-banner {
    width: 65px;
  }
  /* Library section styles end */

  /* Global styles start */
  .loader,
  .error {
    min-width: 695px;
    max-width: 695px;
  }

  .error__img {
    width: 215px;
  }
  /* Global styles end */
}
/* Desktop media styles end */
