/* Books styles start */
.books-wrapper {
  display: none;
  max-height: min-content;
}

.books-wrapper:where(.visible) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: start;
  gap: 25px;
}

.book {
  display: flex;
  justify-content: center;
}

.book__figure {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 170px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--card);
  box-shadow: 0px 0px 9px 1px var(--shadow);
}

.book__banner {
  width: 170px;
  height: 240px;
}

.book__description-wrapper {
  padding: 10px;
}

.book__description-wrapper > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book__title {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--title);
}

.book__author {
  margin-bottom: 5px;
}

.book__author,
.book__year {
  font-size: 12px;
  color: var(--text);
}

.book__favorite-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--favorite);
  border-radius: 50%;
}

.book__favorite-btn:hover .book__favorite-img > path {
  stroke: var(--red);
}

.book__favorite-img {
  width: 16px;
  height: 16px;
}

.book__favorite-img > path {
  transition: stroke 0.3s ease-in-out;
}
/* Books styles end */

/* Books desktop media styles start */
@media (max-width: 1280px) {
  .books-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .book__banner {
    width: 155px;
    height: 225px;
  }

  .book__figure {
    max-width: 155px;
  }

  .books__loader,
  .books__error {
    min-width: 695px;
    max-width: 695px;
  }

  .books__error-img {
    width: 215px;
  }
}
/* Books desktop media styles end */

/* Books tablet media styles start */
@media (max-width: 1024px) {
  .books-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .book__figure {
    max-width: 140px;
  }

  .book__banner {
    width: 140px;
    height: 210px;
  }
}
/* Books tablet media styles end */

/* Books big mobile media styles start */
@media (max-width: 768px) {
  .books-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .book__favorite-btn {
    right: 8px;
    top: 8px;
    width: 28px;
    height: 28px;
  }

  .book__title {
    font-size: 12px;
  }

  .book__author,
  .book__year {
    font-size: 10px;
  }
}
/* Books big mobile media styles end */

/* Books middle mobile media styles start */
@media (max-width: 480px) {
  .book__favorite-btn {
    right: 5px;
    top: 5px;
  }
}
/* Books small mobile media styles end */
