/* Variables start */

:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #e7e2da;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;

  --max-width: 1920px;
  --font-family: "Playfair Display", serif;
}

/* Variables end */

/* Global styles start */

html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  letter-spacing: 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 10px;
}

/* Global styles end */

/* Header styles start */

.header {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 60px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__link:hover .logo__img {
  transform: scale(1.08);
}

.logo__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--green);
}

.logo__img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.logo__text {
  margin-bottom: 4px;
  font-size: 16px;
  color: var(--title);
  font-weight: bold;
}

.logo__subtext {
  font-size: 13px;
  color: var(--text);
}

.header__theme-switcher {
  width: 30px;
  height: 30px;
  background-image: url(/assets/icons/dark-theme-icon.svg);
  transition: transform 0.3s ease-in-out;
}

.header__theme-switcher:hover {
  transform: scale(1.08);
}

/* Header styles end */

/* Library section styles start */

.library__layout {
  display: flex;
  column-gap: 20px;
}

.library__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library__title {
  margin-bottom: 15px;
  font-size: 40px;
  color: var(--title);
}

.library__subtitle {
  margin-bottom: 15px;
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  color: var(--text);
}

.library__form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  width: min(1240px, 100%);
  margin-bottom: 40px;
}

.library__form-wrapper {
  position: relative;
  width: 50%;
}

.library__form-input {
  padding: 10px 55px;
  width: 100%;
  min-height: 34px;
  border-radius: 5px;
  border: var(--border);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.library__form-input::placeholder {
  font-size: 15px;
  color: var(--text);
}

.library__form-logo {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.library__search-btn {
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 12px;
  background-color: var(--green);
  color: var(--secondary);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.library__search-btn:hover {
  opacity: 0.9;
}

.books-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: start;
  gap: 25px;
  max-height: min-content;
}

.book {
  display: flex;
  justify-content: center;
}

.book__figure {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--card);
  box-shadow: 0px 0px 9px 1px var(--shadow);
}

.book__banner {
  width: 160px;
  height: auto;
}

.book__description-wrapper {
  padding: 10px;
}

.book__title {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--title);
}

.book__author {
  margin-bottom: 5px;
}

.book__author,
.book__year {
  font-size: 12px;
  color: var(--text);
}

.book__favorite-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border-radius: 50%;
}

.book__favorite-img {
  width: 16px;
  height: 16px;
}

.book__favorite-img > path {
  transition: stroke 0.3s ease-in-out;
}

.book__favorite-img:hover > path {
  stroke: var(--red);
}

/* Library section styles end */

/* Favorites section styles start */

.favorites {
  position: sticky;
  top: 10px;
  padding: 10px;
  border-radius: 10px;
  max-height: min-content;
  background: var(--white);
}

.favorites__heading {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
}
.favorites__heading-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--favorite);
}

.favorites__heading-title {
  font-size: 16px;
  color: var(--title);
}

.favorites__heading-subtitle {
  font-size: 12px;
  color: var(--text);
}

.favorites__books-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.favorites__books-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px;
  border-bottom: 1px solid var(--border);
}

.favorites__books-banner {
  width: 70px;
  height: auto;
}

.favorites__books-description {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin-right: 50px;
}

.favorites__books-title {
  font-size: 14px;
  color: var(--title);
}

.favorites__books-author,
.favorites__books-year {
  font-size: 12px;
  color: var(--text);
}

.favorites__books-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--background);
  }
}
/* Favorites section styles end */

@media (max-width: 1280px) {
  /* Library section styles start */

  .books-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .book__banner {
    width: 145px;
  }

  /* Library section styles end */

  /* Favorites books section start */

  .favorites__books-description {
    margin-right: 40px;
  }

  .favorites__books-banner {
    width: 65px;
  }

  /* Favorites books section end */
}

/* Tablets media styles start */

@media (max-width: 1024px) {
  /* Header styles start */

  .header {
    margin-bottom: 20px;
  }

  /* Header styles end */

  /* Library section styles start */

  .library__title {
    font-size: 34px;
  }

  .library__subtitle {
    font-size: 14px;
  }

  .library__form {
    margin-bottom: 35px;
  }

  .library__form-input::placeholder {
    font-size: 14px;
  }

  .books-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .book__banner {
    width: 140px;
  }

  .library__search-btn {
    padding-inline: 20px;
    font-size: 12px;
  }

  .library__layout {
    column-gap: 15px;
  }

  /* Library section styles end */

  /* Favorite books section styles start */

  .favorites__books-description {
    margin-right: 30px;
  }

  /* Favorite books section styles end */
}

/* Tablets media styles end */

/*Big mobile media styles start  */

@media (max-width: 768px) {
  /* Header styles start */

  .header {
    margin-bottom: 14px;
  }

  .header-inner {
    margin-inline: 35px;
  }

  .logo__img-wrapper {
    width: 25px;
    height: 25px;
  }

  .logo__img {
    width: 15px;
    height: 15px;
  }

  .logo__text {
    font-size: 14px;
  }

  .logo__subtext {
    font-size: 12px;
  }

  .header__theme-switcher {
    width: 25px;
    height: 25px;
  }

  /* Header styles end */

  /* Library section styles start */

  .library__layout {
    column-gap: 10px;
  }

  .library__title {
    margin-bottom: 12px;
    font-size: 30px;
  }

  .library__subtitle {
    font-size: 13px;
  }

  .library__form {
    margin-bottom: 28px;
  }

  .library__form-wrapper {
    width: 60%;
  }

  .library__form-input {
    font-size: 15px;
    padding: 8px 45px;
  }

  .library__form-logo {
    width: 18px;
    height: 18px;
  }

  .library__search-btn {
    padding: 10px 16px;
    font-size: 11px;
  }

  .books-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .book__banner {
    width: 125px;
  }

  .book__favorite-btn {
    right: 8px;
    top: 8px;
    width: 28px;
    height: 28px;
  }

  .book__title {
    font-size: 12px;
  }

  .book__author,
  .book__year {
    font-size: 10px;
  }

  /* Library section styles end */

  /* Favorite books section start */

  .favorites {
    padding: 6px;
  }

  .favorites__heading-title {
    font-size: 14px;
  }

  .favorites__heading-subtitle {
    font-size: 11px;
  }

  .favorites__heading-logo-wrapper {
    margin-right: 8px;
    width: 28px;
    height: 28px;
  }

  .favorites__heading {
    padding-bottom: 6px;
  }

  .favorites__books-item {
    column-gap: 8px;
    padding: 6px;
  }

  .favorites__books-banner {
    width: 55px;
  }

  .favorites__books-description {
    margin-right: 10px;
  }

  .favorites__books-title {
    font-size: 12px;
  }

  .favorites__books-author,
  .favorites__books-year {
    font-size: 10px;
  }

  .favorites__books-btn {
    width: 26px;
    height: 26px;
  }

  /* Favorite books section end */
}

/*Big mobile media styles end  */

/*Middle mobile media styles start  */

@media (max-width: 480px) {
  /* Header styles start */

  .header {
    margin-bottom: 10px;
  }

  .header-inner {
    margin: 10px 20px;
  }

  .logo__img-wrapper {
    width: 22px;
    height: 22px;
  }

  .logo__img {
    width: 13px;
    height: 13px;
  }

  .logo__text {
    font-size: 13px;
  }

  .logo__subtext {
    font-size: 11px;
  }

  .header__theme-switcher {
    width: 22px;
    height: 22px;
  }
  /* Header styles end */

  /* Library section styles start */

  .library__layout {
    flex-direction: column-reverse;
    row-gap: 40px;
  }

  .library__title {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
  }

  .library__subtitle {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .library__form-input {
    padding: 6px 32px;
    min-height: 32px;
    font-size: 14px;
  }

  .library__form-input::placeholder {
    font-size: 12px;
  }

  .library__form-logo {
    width: 16px;
    height: 16px;
  }

  .library__search-btn {
    padding-block: 10px;
    font-size: 10px;
  }

  .book__banner {
    width: 130px;
  }

  .book__favorite-btn {
    right: 5px;
    top: 5px;
  }
  /* Library section styles end */

  /* Favorite books section styles start */

  .favorites__books-item {
    justify-content: space-between;
  }

  .favorites__books-banner {
    width: 60px;
  }

  /* Favorite books section styles end */
}
/*Middle mobile media styles end  */
